/* Sidebar */
.sidebar {
    height: 100vh;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: fixed;
    right: 0;
    transition: width 0.3s;
    padding: 0 10px;
  }
  
  .sidebar:hover {
    background-color: #555;
  }
  
  .sidebar-content {
    display: flex;
    align-items: center;
  }
  
  .sidebar-icon {
    font-size: 18px;
    max-width: 20px;
    padding-right: 8px;
  }
  
  .nav-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    height: 100%;
    border-left: 2px solid #fff; /* Add a 2px solid white border on the left */
    overflow: hidden;
    transition: width 0.3s;
  }

  .nav-icons > * {
    font-size: 24px; /* Adjust the font size to make the icons bigger */
    margin-bottom: 8px; /* Add margin between icons for better spacing */
  }
  
  .sidebar.active {
    width: 100px;
  }
  
  .sidebar.active .nav-icons {
    width: 80px;
  }
  